<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/loginForm.css">
</head>
<body>

<div class="container">
    <div class="loginForm">
        <form action="" method="post">

            <!-- <div class="alert alert-info">You have been logged out!
            </div> -->

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" required autofocus="autofocus" maxlength="25">
            </div>

            <div class="form-group">
                <label for="password">Password </label>
                <input type="password" class="form-control" id="password" name="password" required autofocus="autofocus" minlength="8" maxlength="15">
            </div>

            <div class="button">
                <button type="submit" class="btnLogin">Sign in</button>
            </div>
        </form>
        <div class="newUser">
            <a href="/">Register here</a>
        </div>
    </div>
</div>

</body>
</html>