<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div th:each="product:${products}" class="card mt-4">
                <div class="card-body">
                    <h4 th:text="${product.productName}" class="card-title"></h4>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="/">Strona glowna</a>
<li th:each="product:${products}">
    <a  th:text="${product.productName}" th:href="@{/products/{name}(name=${product.productName})}"></a>
    lalalala
</li>
</body>
</html>